# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# Estas opciones afectan solo al cliente que carga el mod.
##########################################################################################################

clientonly {
    # Set this to 0 if you find that iChunUtil is spawning a lot of these entities and is causing lag. Might affect some of my mods. I've not been able to pinpoint the issue, mind, but if you are not having any memory issues ignore this setting.
    I:enableLatchedRendererSpawn=1

    # Set this to 0 if you're crashing when the game launches because you do not have stencils enabled.
    I:enableStencils=1
}


module {

    ##########################################################################################################
    # compactporkchop
    #--------------------------------------------------------------------------------------------------------#
    # Configs for the compact porkchop block module in iChunUtil.
    ##########################################################################################################

    compactporkchop {

        block {
            # ¿Permitir la creación del bloque de Carne de cerdo cruda compacta?
            I:enableCompactPorkchop=1
        }

    }

    ##########################################################################################################
    # eula
    #--------------------------------------------------------------------------------------------------------#
    # EULA settings.
    ##########################################################################################################

    eula {

        general {
            # String to say that you've acknowledged the EULA
            # If this config is for a server, set it to true.
            S:eulaAcknowledged=raiden_343
        }

    }

    ##########################################################################################################
    # versioncheck
    #--------------------------------------------------------------------------------------------------------#
    # These configs are for the mod version update checker for iChun's mods.
    ##########################################################################################################

    versioncheck {

        general {
            # ¿Cada cuánto tiempo se os notificará de la actualización?(Configuración de cliente)
            # 0 = Cuando os conectais al servidor.
            # 1 = Una vez al día.
            # 2 = Solo una vez.
            # 3 = Nunca (Oculta las notificaciones. El mod seguirá buscando actualizaciones y lo mostrará en la consola).
            I:versionNotificationFrequency=2

            # ¿Cómo se os notificarán las actualizaciones al CLIENTE? (Los servidores siempre os muestran la actualización en la consola. Un jugador es vuestro cliente uniendose a un servidor que hospeda el mismo)
            # 0 = Notificar las actualizaciones sin importar el estado del jugador (administrador o normal).
            # 1 = Notificar solo a los administradores del servidor de las actualizaciones (Se seguirán mostrando las actualizaciones que solo afecten al cliente).
            # 2 = Permitir al cliente notificarse a asi mismo de las actualizaciones.
            I:versionNotificationTypes=0

            # Don't change this.
            I:versionSave=28
        }

    }

}


